```{=html}
<div class="list research">
    <% items_wp = items.filter(item => item.status == "working-papers") %>
    <% items_wip = items.filter(item => item.status == "work-in-progress") %>
    <% for (const items of [items_wp, items_wip]) { %>
        <% if (items.length > 0) { %>
            <% if (items[0].status == "working-papers") { %>
                <h2>WORKING PAPERS</h2>
            <% } else { %>
                <h2>WORK IN PROGRESS</h2>
            <% } %>
            <% for (const item of items) { %>
                <div class="research-entry" <%= metadataAttrs(item) %>>
                    <div class="body">
                        <p class="title listing-title">
                            <% if (item['hide-detail']) { %>
                                <%= item.title %>
                            <% } else { %>
                                <a href="<%- item.path %>"><%= item.title %></a>
                            <% } %>
                        </p>
                        <p class="subtitle listing-subtitle">
                            <%= item.subtitle %>
                        </p>
                        <% if (item.authors) { %>
                            <% coauthors = item.authors.filter(author => author.name != "Kazuharu Yanagimoto") %>
                            <% n_coauthors = coauthors.length %>
                            <p class="research-coauthors">
                                with
                                <% for (const author of coauthors) { %>
                                    <% if (author.url) { %>
                                        <a href="<%- author.url %>"><%= author.name %></a>
                                    <% } else { %>
                                        <%= author.name %>
                                    <% } %>
                                    <% if (n_coauthors > 2) { %>
                                        <% if (author.name == coauthors[n_coauthors - 2].name) { %>
                                            , and 
                                        <% } else if (author.name != coauthors[n_coauthors - 1].name) { %>
                                            , 
                                        <% } %>
                                    <% } else if (n_coauthors == 2) { %>
                                        <% if (author.name != coauthors[n_coauthors - 1].name) { %>
                                            and
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </p>
                        <% } %>
                        <% if (item.categories) { %>
                            <div class="item-categories listing-categories">
                                <% for (const category of item.categories) { %>
                                <div class="item-category listing-category" onclick="window.quartoListingCategory('<%=category%>'); return false;">
                                    <%= category %>
                                </div>
                                <% } %>
                            </div>
                        <% } %>
                        <ul class="research-links">
                            <% if (item['pub-info'] && item['pub-info'].links) { %>
                                <% for (const link of item['pub-info'].links) { %>
                                <li class="research-link">
                                    <% if (link.local) { %>
                                    <a href="<%- item.path.substring(0, item.path.lastIndexOf('/')) %>/<%- link.url %>">
                                    <% } else { %>
                                    <a href="<%- link.url %>">
                                    <% } %>
                                        <i class="<%- link.icon %>"></i> <%= link.name %>
                                    </a>
                                </li>
                                <% } %>
                            <% } %>
                        </ul>
                    </div>
                    <% if (item.image) { %>
                        <div class="thumbnail">
                            <img src="<%= item.image %>" alt="<%= item.title %>" title="<%= item.title %>" />
                        </div>
                    <% } %>
                </div>
            <% } %>
        <% } %>            
    <% } %>
</div>
```