```{=html}
<div class="softwares">
    <% for (const item of items) { %>
    <div class="software-entry">
        <div class="body">
            <p class="software-title">
                <% if (item.url) { %>
                <a href="<%= item.url %>" target="_blank"><%= item.title %></a> 
                <% } else { %>
                <%= item.title %> 
                <% } %>
            </p>
            <p class="software-description"><%= item.description %></p>
            <ul class="software-links">
                <% for (const link of item.links) { %>
                <li class="software-link">
                    <% if (link.local) { %>
                    <a href="<%- item.path.substring(0, item.path.lastIndexOf('/')) %>/<%- link.url %>">
                    <% } else { %>
                    <a href="<%- link.url %>">
                    <% } %>
                        <i class="<%- link.icon %>"></i> <%= link.name %>
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
        <% if (item.image) { %>
            <div class="thumbnail">
                <% if (item.url) { %>
                    <a href="<%= item.url %>" target="_blank">
                        <img src="<%= item.image %>" alt="<%= item.title %>" title="<%= item.title %>" />
                    </a>
                <% } else { %>
                    <img src="<%= item.image %>" alt="<%= item.title %>" title="<%= item.title %>" />
                <% } %>
            </div>
        <% } %>
    </div>
    <% } %>
</div>
```